@model Product
<div class="card py-2 mb-4">
    <img class="card-img-top" src="~/images/@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title ">@Model.Name</h5>
        <small class="text-muted"></small>
        <i class="fas fa-dolar-sign"></i>@Model.Price
        <div class="card-footer text-center">
                <a asp-controller="shop" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm mr-2">Details</a>
                <a asp-controller="shop" asp-action="addtocart" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm mr-2">Add to Cart</a>
        </div>
    </div>
</div>