@model ProductDetailModel
@{
    var categoryCount = Model.Categories.Count();
    var result = categoryCount %2 == 1;
}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid" src="~/images/@Model.Product.ImageUrl" alt="@Model.Product.Name">
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <h5 class="card-title">@Model.Product.Name</h5><hr>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <a asp-controller = "Shop" asp-action ="List" asp-route-category ="@Model.Categories[i].Url" class="btn btn-link p-0 mb-3">
                @Model.Categories[i].Name
                    @( i % 2 == 0 ? " | ":"")
                </a>
            }
            <div class="mb-3">
                <h4 class="text-primary mb-3">@Model.Product.Price</h4>
                <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="p-3">@Model.Product.Description</p>  
    </div>
</div>
    