@model ProductDetailModel
@{
    var categoryCount = Model.Categories.Count();
    var result = categoryCount %2 == 1;
}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid" src="~/images/@Model.Product.ImageUrl" alt="@Model.Product.Name">
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <h5 class="card-title">@Model.Product.Name</h5><hr>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <a asp-controller = "Shop" asp-action ="List" asp-route-category ="@Model.Categories[i].Url" class="btn btn-link p-0 mb-3">
                @Model.Categories[i].Name
                    @( i % 2 == 0 ? " | ":"")
                </a>
            }
            <div class="mb-3">
                <h4 class="text-primary mb-3">@Model.Product.Price</h4>
                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                    <input type="hidden" name="productId" value="@Model.Product.ProductId">
                    <div class="input-group mb-3">
                        <input type="number" name="quantity" class="form-control" value="1" step="1" min="1">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-cart-plus"></i>
                            </button>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="p-3">@Html.Raw(Model.Product.Description)</p>  
    </div>
</div>
    